<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>sign up</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    </head>
    <body>
    <div class="container">
        <div>

            <form class="form-signin" th:action="@{/api/registration/}" method="post" th:object="${request}">
                <h2>Sign up form</h2>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf">
                <div role="alert" id="emailsent">

                </div>
                <p>
                <div>
                    <label>Username</label>
                    <input type="text" id="username" name="userName" class="form-control" placeholder="Username" th:field="*{userName}"/>
                </div>
                </p>
                <p>
                <div>
                    <label>Email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="Email" th:field="*{email}"/>
                </div>
                </p>

                <p>
                <div>
                    <label>Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" th:field="*{password}">
                </div>
                </p>

                <button type="submit"  class="btn btn-lg btn-primary btn-block" id="submitbutton">Submit</button>
            </form>
        </div>

    </div>

<!--    <script>-->
<!--        onsubmit="return false"   onclick="sendForm()"-->
<!--        function sendForm(){-->
<!--            var buttonElement = document.getElementById("submitbutton");-->
<!--            buttonElement.disabled = true;-->
<!--            var myHeaders = new Headers();-->
<!--            myHeaders.append("Content-Type", "application/json");-->
<!--            let username = document.getElementById("username").value;-->
<!--            let email = document.getElementById("email").value;-->
<!--            let password = document.getElementById("password").value;-->


<!--            var raw = JSON.stringify({-->
<!--              "userName": username,-->
<!--              "email": email,-->
<!--              "password": password-->
<!--            });-->

<!--            var requestOptions = {-->
<!--              method: 'POST',-->
<!--              headers: myHeaders,-->
<!--              body: raw,-->
<!--              redirect: 'follow'-->
<!--            };-->

<!--            fetch("http://localhost:8080/api/registration/emailsent", requestOptions)-->
<!--              .then(response => response.text())-->
<!--              .then((result) => {-->

<!--                buttonElement.disabled = false;-->
<!--                var element = document.getElementById("emailsent");-->
<!--                element.classList.add("alert-success");-->
<!--                element.innerHTML = result;-->

<!--              })-->
<!--              .catch(error => console.log('error', error));-->
<!--        }-->
<!--    </script>-->
    </body>
</html>